/*------------------------------------*\
    VARIABLES
\*------------------------------------*/

/* ----- Colors ----- */

$colorBg1: #041729; // header
$colorBg2: rgba(0,0,0,0.8);
$colorBg3: rgba(0,0,0,0.85);
$colorBg4: #AD4545; // gradient
$colorBg5: #FEFFFF; // hover background / text
$colorBg6: #041729; // gradient
$colorText1: #fff;
$colorText2: #000;
$colorText3: #333;
